    @import url('./fonts.css');
    @import url(https://fonts.googleapis.com/css?family=Roboto);
    @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
    @import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic);
    body {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
     :root {
        /* theme fonts */
        --Mon-Regular: 'Monteseratt-Regular', cursive;
        --Mon-Bold: 'Monteseratt-Bold', cursive;
        --Mon-Thin: 'Monteseratt-Thin', cursive;
        --Mon-light: 'Monteseratt-Light', cursive;
        --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    }
    
    ul {
        list-style: none;
    }
    
    a {
        text-decoration: none;
    }
    
    .main-section {
        width: 100%;
        height: 100vh;
        background-image: url(../assets/freeroad.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 10%;
    }
    
    nav ul {
        display: flex;
    }
    
    nav ul li a {
        margin: 30px;
        font-family: var(--Mon-Regular);
        color: #ffffff;
        font-size: 15px;
        font-weight: bold;
    }
    
    nav ul li a:hover {
        color: rgb(85, 164, 255);
    }
    
    .logo {
        font-family: var(--Mon-Bold);
        color: #ffffff;
        font-size: 24px;
    }
    
    .logo span {
        color: rgb(85, 164, 255);
    }
    
    .text-container h1 {
        font-family: var(--Mon-Regular);
        font-weight: bold;
        color: #ffffff;
        font-size: 50px;
        padding: 4% 10%;
        position: relative;
        text-shadow: 3px 3px 3px black;
        text-align: center;
    }
    
    .exp-btn {
        display: flex;
        justify-content: center;
    }
    
    .exp-btn button {
        color: #060e16;
        background: var(--sky);
        border: none;
        border-radius: 2rem;
        padding: 1rem 3rem;
        font-size: 1rem;
        cursor: pointer;
    }
    
    .exp-btn button:hover {
        transform: scale(1.15);
    }
    /* .text-container h1 span {
        font-family: var(--Mon-Bold);
        font-weight: bold;
        color: #ffffff;
        font-size: 20px;
        text-transform: uppercase;
        display: block;
    } */
    
    .about-container {
        width: 80%;
        height: 400px;
        background-color: #ffffff;
        border-radius: 20px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
        display: flex;
        margin: -7% auto 20px auto;
        position: relative;
        justify-content: space-evenly;
        align-items: center;
        line-height: 1rem;
    }
    
    .about-container img {
        height: 250px;
        /* margin: 0 1em; */
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    }
    
    .about-text {
        width: 550px;
        position: relative;
        top: 2%;
    }
    
    .about-text p:nth-child(1) {
        color: #403e3e;
        font-family: var(--Mon-Bold);
        font-weight: bold;
        font-size: 23px;
        line-height: 0px;
    }
    
    .about-text p:nth-child(2) {
        color: #403e3e;
        font-family: var(--Mon-Bold);
        font-weight: bold;
        font-size: 16px;
    }
    
    .about-text p:nth-child(3),
    .about-text p:nth-child(4),
    .about-text p:nth-child(5) {
        color: #5e5e5e;
        font-family: var(--Mon-Thin);
        font-size: 16px;
    }
    /*Just the background stuff */
    
    span.s1 {
        position: absolute;
        top: 0;
        font-size: 15rem;
        font-weight: 800;
        text-transform: uppercase;
        color: #3C4447;
    }
    
    span.s2 {
        font-weight: 800;
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 15rem;
        text-transform: uppercase;
        color: #3C4447;
    }
    /*My hum... body.. yeah.. */
    
    body {
        background-color: #ecf3f3;
        font-family: "Roboto", sans-serif;
    }
    /* The card */
    
    .card {
        position: relative;
        height: 450px;
        width: 900px;
        margin: 200px auto;
        /* margin-bottom: 60px; */
        background-color: #FFF;
        -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
    }
    /* Image on the left side */
    
    .thumbnail {
        float: left;
        position: relative;
        left: 30px;
        top: -30px;
        height: 320px;
        width: 530px;
        -webkit-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
        overflow: hidden;
    }
    /*object-fit: cover; */
    /*object-position: center; */
    
    img.left {
        position: absolute;
        left: 50%;
        top: 50%;
        height: auto;
        width: 100%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    /* Right side of the card */
    
    .right {
        margin-left: 590px;
        margin-right: 20px;
    }
    
    h1 {
        padding-top: 15px;
        font-size: 1.3rem;
        color: #4B4B4B;
    }
    
    .author {
        background-color: #9ECAFF;
        height: 30px;
        width: 110px;
        border-radius: 20px;
    }
    
    .author>img {
        padding-top: 5px;
        margin-left: 10px;
        float: left;
        height: 20px;
        width: 20px;
        border-radius: 50%;
    }
    
    h2 {
        padding-top: 8px;
        margin-right: 6px;
        text-align: right;
        font-size: 0.8rem;
    }
    
    .separator {
        margin-top: 10px;
        border: 1px solid #C3C3C3;
    }
    
    p {
        text-align: justify;
        padding-top: 10px;
        font-size: 0.95rem;
        line-height: 150%;
        color: #4B4B4B;
    }
    /* DATE of release */
    
    h5 {
        position: absolute;
        left: 30px;
        bottom: -120px;
        font-size: 6rem;
        color: #C3C3C3;
    }
    
    h6 {
        position: absolute;
        left: 30px;
        bottom: -55px;
        font-size: 2rem;
        color: #C3C3C3;
    }
    /* Those futur buttons */
    
    ul {
        margin-left: 250px;
    }
    
    li {
        display: inline;
        list-style: none;
        padding-right: 40px;
        color: #7B7B7B;
    }
    /* Floating action button */
    
    .fab {
        position: absolute;
        right: 50px;
        bottom: -40px;
        box-sizing: border-box;
        padding-top: 18px;
        background-color: #1875D0;
        width: 80px;
        height: 80px;
        color: white;
        text-align: center;
        border-radius: 50%;
        -webkit-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
    }
    
    .fab a {
        color: #e6e3e3;
    }
    
    .fab a:hover {
        color: #000000;
    }
    /* image gallery */
    
    .container {
        max-width: 100rem;
        margin: 0 auto;
        padding: 0 2rem 2rem;
    }
    
    .heading {
        font-family: "Montserrat", Arial, sans-serif;
        font-size: 3rem;
        font-weight: 500;
        /* line-height: 1.5; */
        text-align: center;
        padding: 3.5rem 0;
        color: #1a1a1a;
    }
    
    .gallery {
        display: flex;
        flex-wrap: wrap;
        /* Compensate for excess margin on outer gallery flex items */
        margin: -1rem -1rem;
    }
    
    .gallery-item {
        /* Minimum width of 24rem and grow to fit available space */
        flex: 1 0 24rem;
        /* Margin value should be half of grid-gap value as margins on flex items don't collapse */
        margin: 1rem;
        box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
        overflow: hidden;
    }
    
    .gallery-image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 400ms ease-out;
    }
    
    .gallery-image:hover {
        transform: scale(1.15);
    }
    /*
    
    The following rule will only run if your browser supports CSS grid.
    
    Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling. 
    
    */
    
    @supports (display: grid) {
        .gallery {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
            grid-gap: 2rem;
        }
        .gallery,
        .gallery-item {
            margin: 0;
        }
    }
    /* footer */
    
    footer {
        height: 300px;
        background-color: #000000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    footer p {
        font-family: var(--Abel);
    }
    
    footer p:nth-child(1) {
        font-size: 30px;
        font-weight: bold;
        color: #191919;
        line-height: 10px;
    }
    
    footer p:nth-child(2) {
        font-size: 16px;
        color: #7e7d7d;
        width: 600px;
        text-align: center;
    }
    
    footer a {
        color: #191919;
        text-decoration: none;
    }
    
    .social-icons a {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e6e3e3;
        margin: 20px 10px;
        border-radius: 50%;
    }
    
    .social-icons {
        display: flex;
    }
    
    .copyright {
        color: #565555;
        font-size: 15px;
        position: absolute;
        left: 50%;
        bottom: 10px;
        transform: translateX(-50%);
    }
    
    .social-icons i {
        color: #000000;
    }
    
    .social-icons a:hover {
        background-color: #000000;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
        transition: all ease 0.5s;
    }
    
    .social-icons a:hover i {
        color: #ffffff;
        transition: all ease 0.5s;
    }